In [1]:
import pandas as  pd
import numpy as np

In [2]:
df =pd.read_csv('foodshelf.csv')
df1 =pd.read_csv('foodfridge.csv')
df2 = pd.read_csv('foodexp.csv')
 

df_list = [df, df1, df2]
data = pd.concat(df_list)

In [3]:
data.head()

    TYPE          ITEM      PERIOD DETAILS STORAGE
0  FRUIT        Apples    1-2 days     NaN   SHELF
1  FRUIT      Apricots  Until ripe     NaN   SHELF
2  FRUIT      Avocados  Until ripe     NaN   SHELF
3  FRUIT       Bananas  Until ripe     NaN   SHELF
4  FRUIT  Citrus Fruit     10 days     NaN   SHELF

In [4]:
data.tail()

       TYPE                               ITEM    PERIOD DETAILS       STORAGE
674  BAKERY      Rolls, yeast, partially baked  2 months     NaN        FROZEN
675  BAKERY  Rolls, filled, meat or vegetables   2 hours     NaN         SHELF
676  BAKERY  Rolls, filled, meat or vegetables  3-4 days     NaN  REFRIGERATED
677  BAKERY  Rolls, filled, meat or vegetables  2 months     NaN        FROZEN
678  BAKERY          Doughnuts, glazed or cake    1 week       G  REFRIGERATED

In [5]:
data.shape

(1358, 5)

In [6]:
data.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            669, 670, 671, 672, 673, 674, 675, 676, 677, 678],
           dtype='int64', length=1358)

In [7]:
data.columns

Index(['TYPE', 'ITEM', 'PERIOD', 'DETAILS', 'STORAGE'], dtype='object')

In [8]:
data.values

array([['FRUIT', 'Apples', '1-2 days', nan, 'SHELF'],
       ['FRUIT', 'Apricots', 'Until ripe', nan, 'SHELF'],
       ['FRUIT', 'Avocados', 'Until ripe', nan, 'SHELF'],
       ...,
       ['BAKERY', 'Rolls, filled, meat or vegetables', '3-4 days', nan,
        'REFRIGERATED'],
       ['BAKERY', 'Rolls, filled, meat or vegetables', '2 months', nan,
        'FROZEN'],
       ['BAKERY', 'Doughnuts, glazed or cake', '1 week', 'G',
        'REFRIGERATED']], dtype=object)

In [9]:
data.dtypes

TYPE       object
ITEM       object
PERIOD     object
DETAILS    object
STORAGE    object
dtype: object

In [10]:
data.nunique()

TYPE        23
ITEM       300
PERIOD      88
DETAILS     21
STORAGE      4
dtype: int64

In [11]:
data.count()

TYPE       1358
ITEM       1358
PERIOD     1280
DETAILS     614
STORAGE    1358
dtype: int64

In [12]:
data.isnull().sum()

TYPE         0
ITEM         0
PERIOD      78
DETAILS    744
STORAGE      0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1358 entries, 0 to 678
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TYPE     1358 non-null   object
 1   ITEM     1358 non-null   object
 2   PERIOD   1280 non-null   object
 3   DETAILS  614 non-null    object
 4   STORAGE  1358 non-null   object
dtypes: object(5)
memory usage: 63.7+ KB

In [14]:
data.head(1)

    TYPE    ITEM    PERIOD DETAILS STORAGE
0  FRUIT  Apples  1-2 days     NaN   SHELF

In [15]:
data['PERIOD'].value_counts()

1-2 days             90
12 months            90
3-4 days             80
6 months             76
1 week               74
                     ..
3-5 weeks             2
1 week after date     2
7-21 days             2
Do not freeze         2
8-12 days             2
Name: PERIOD, Length: 88, dtype: int64

In [16]:
data[data['PERIOD'] == '12 months']

,TYPE,ITEM,PERIOD,DETAILS,STORAGE
29,SHELF_ITEM,"Beans, Dried",12 months,unopened,SHELF
30,SHELF_ITEM,"Beans, Dried",12 months,opened,SHELF
35,SHELF_ITEM,"Cereal, cook before eating (oatmeal, etc.)",12 months,unopened,SHELF
41,SHELF_ITEM,"Coffee, instant, jars and tins",12 months,unopened,SHELF
60,BAKING,"Frosting, Frosting mixes",12 months,unopened,SHELF
...,...,...,...,...,...
587,SHELF_ITEM,Tapioca,12 months,opened,SHELF
589,SHELF_ITEM,"Tea, bags",12 months,opened,SHELF
596,SHELF_ITEM,"Tomatoes, sun dried, packed in oil",12 months,unopened,SHELF
603,SHELF_ITEM,Vinegar,12 months,opened,SHELF
627,BAKERY,"Cakes, fruit cake",12 months,NaN,FROZEN

In [17]:
data[data['PERIOD'] < '12 months']

       TYPE                           ITEM      PERIOD DETAILS       STORAGE
0     FRUIT                         Apples    1-2 days     NaN         SHELF
4     FRUIT                   Citrus Fruit     10 days     NaN         SHELF
5     FRUIT                       Coconuts      1 week   fresh         SHELF
6     FRUIT                         Grapes       1 day     NaN         SHELF
8     FRUIT                         Melons    1-2 days     NaN         SHELF
..      ...                            ...         ...     ...           ...
662  BAKERY                    Pies, pecan  1-2 months     NaN        FROZEN
665  BAKERY                  Pies, pumpkin  1-2 months     NaN        FROZEN
670  BAKERY            Rolls, yeast, baked      1 week     NaN  REFRIGERATED
673  BAKERY  Rolls, yeast, partially baked      1 week     NaN  REFRIGERATED
678  BAKERY      Doughnuts, glazed or cake      1 week       G  REFRIGERATED

[410 rows x 5 columns]

In [18]:
(data[data['ITEM'] == 'Apples']).count()

TYPE       6
ITEM       6
PERIOD     6
DETAILS    2
STORAGE    6
dtype: int64

In [19]:
data.notnull().sum()

TYPE       1358
ITEM       1358
PERIOD     1280
DETAILS     614
STORAGE    1358
dtype: int64

In [20]:
data.head(1)

    TYPE    ITEM    PERIOD DETAILS STORAGE
0  FRUIT  Apples  1-2 days     NaN   SHELF

In [21]:
data.rename(columns = {'TYPE':'FOOD TYPE'},inplace =True)

In [22]:
data.head()

  FOOD TYPE          ITEM      PERIOD DETAILS STORAGE
0     FRUIT        Apples    1-2 days     NaN   SHELF
1     FRUIT      Apricots  Until ripe     NaN   SHELF
2     FRUIT      Avocados  Until ripe     NaN   SHELF
3     FRUIT       Bananas  Until ripe     NaN   SHELF
4     FRUIT  Citrus Fruit     10 days     NaN   SHELF

In [23]:
data.nunique()

FOOD TYPE     23
ITEM         300
PERIOD        88
DETAILS       21
STORAGE        4
dtype: int64

In [24]:
data['STORAGE'].value_counts()

REFRIGERATED    472
SHELF           456
FROZEN          390
THAWED           40
Name: STORAGE, dtype: int64

In [25]:
data['DETAILS'].value_counts()

opened                          270
unopened                        236
Do not freeze                    68
fresh                             4
Do not defrost. Cook frozen.      4
Whole peeled                      2
After baking                      2
Cooked and mashed                 2
Sliced, lemon juice & sugar       2
Balls                             2
Whole                             2
Shredded                          2
Cooked                            2
skin will blacken                 2
vacuum pkg                        2
Use all                           2
popped                            2
Cool, dark place                  2
Mix entire packet                 2
Use entire can                    2
G                                 2
Name: DETAILS, dtype: int64

In [26]:
data['PERIOD'].value_counts()

1-2 days             90
12 months            90
3-4 days             80
6 months             76
1 week               74
                     ..
3-5 weeks             2
1 week after date     2
7-21 days             2
Do not freeze         2
8-12 days             2
Name: PERIOD, Length: 88, dtype: int64

In [27]:
data['ITEM'].value_counts()

Pudding                                   12
Crackers                                   8
Lobster tails                              8
Coffee, non-vacuum bag ground, in cans     8
Coffee, instant, jars and tins             8
                                          ..
Toaster pastries, non-fruit fillings       2
Toaster pastries, fruit filled             2
Sugar, brown                               2
Sugar, granulated                          2
Pies, chiffon                              2
Name: ITEM, Length: 300, dtype: int64

In [28]:
data['FOOD TYPE'].value_counts()

SHELF_ITEM           342
VEGETABLES           160
BAKERY               138
DIARY                112
FROZEN_ITEM           84
FRUIT                 76
DELI_ITEM             64
BAKING                58
PROCESSED_MEAT        52
CONDIMENTS            46
SHELLFISH             38
SOY                   36
PROCESSED_POULTRY     32
FISH                  28
FRESH_MEAT            16
FRESH_POULTRY         16
SMOKEDFISH            14
DOUGH                 14
CRACKERS               8
BEVERAGES              6
COOKIES                6
PASTA                  6
PESTO                  6
Name: FOOD TYPE, dtype: int64

In [29]:
data.head()

  FOOD TYPE          ITEM      PERIOD DETAILS STORAGE
0     FRUIT        Apples    1-2 days     NaN   SHELF
1     FRUIT      Apricots  Until ripe     NaN   SHELF
2     FRUIT      Avocados  Until ripe     NaN   SHELF
3     FRUIT       Bananas  Until ripe     NaN   SHELF
4     FRUIT  Citrus Fruit     10 days     NaN   SHELF

In [30]:
missing_details = (data['DETAILS'].isnull()).sum()

In [31]:

data['DETAILS'].fillna('no_details',inplace = True)

In [32]:
data.head()

  FOOD TYPE          ITEM      PERIOD     DETAILS STORAGE
0     FRUIT        Apples    1-2 days  no_details   SHELF
1     FRUIT      Apricots  Until ripe  no_details   SHELF
2     FRUIT      Avocados  Until ripe  no_details   SHELF
3     FRUIT       Bananas  Until ripe  no_details   SHELF
4     FRUIT  Citrus Fruit     10 days  no_details   SHELF

In [33]:
data['PERIOD'].fillna('1-2 days',inplace = True)

In [34]:
data.head()

  FOOD TYPE          ITEM      PERIOD     DETAILS STORAGE
0     FRUIT        Apples    1-2 days  no_details   SHELF
1     FRUIT      Apricots  Until ripe  no_details   SHELF
2     FRUIT      Avocados  Until ripe  no_details   SHELF
3     FRUIT       Bananas  Until ripe  no_details   SHELF
4     FRUIT  Citrus Fruit     10 days  no_details   SHELF

In [35]:
data.isnull().sum()

FOOD TYPE    0
ITEM         0
PERIOD       0
DETAILS      0
STORAGE      0
dtype: int64

In [36]:
data[['FOOD TYPE','ITEM','STORAGE']]

    FOOD TYPE                               ITEM       STORAGE
0       FRUIT                             Apples         SHELF
1       FRUIT                           Apricots         SHELF
2       FRUIT                           Avocados         SHELF
3       FRUIT                            Bananas         SHELF
4       FRUIT                       Citrus Fruit         SHELF
..        ...                                ...           ...
674    BAKERY      Rolls, yeast, partially baked        FROZEN
675    BAKERY  Rolls, filled, meat or vegetables         SHELF
676    BAKERY  Rolls, filled, meat or vegetables  REFRIGERATED
677    BAKERY  Rolls, filled, meat or vegetables        FROZEN
678    BAKERY          Doughnuts, glazed or cake  REFRIGERATED

[1358 rows x 3 columns]

In [37]:
d =data.iloc[0:5,0:5]
d

  FOOD TYPE          ITEM      PERIOD     DETAILS STORAGE
0     FRUIT        Apples    1-2 days  no_details   SHELF
1     FRUIT      Apricots  Until ripe  no_details   SHELF
2     FRUIT      Avocados  Until ripe  no_details   SHELF
3     FRUIT       Bananas  Until ripe  no_details   SHELF
4     FRUIT  Citrus Fruit     10 days  no_details   SHELF

In [38]:
d1 = (data['DETAILS'] == 'opened') & (data['STORAGE']== 'SHELF')

In [39]:
data

,FOOD TYPE,ITEM,PERIOD,DETAILS,STORAGE
0,FRUIT,Apples,1-2 days,no_details,SHELF
1,FRUIT,Apricots,Until ripe,no_details,SHELF
2,FRUIT,Avocados,Until ripe,no_details,SHELF
3,FRUIT,Bananas,Until ripe,no_details,SHELF
4,FRUIT,Citrus Fruit,10 days,no_details,SHELF
...,...,...,...,...,...
674,BAKERY,"Rolls, yeast, partially baked",2 months,no_details,FROZEN
675,BAKERY,"Rolls, filled, meat or vegetables",2 hours,no_details,SHELF
676,BAKERY,"Rolls, filled, meat or vegetables",3-4 days,no_details,REFRIGERATED
677,BAKERY,"Rolls, filled, meat or vegetables",2 months,no_details,FROZEN
678,BAKERY,"Doughnuts, glazed or cake",1 week,G,REFRIGERATED

In [40]:
d1 = ((data['DETAILS'] == 'unopened') & (data['STORAGE']== 'FROZEN'))
d1.count()

1358